@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@400;700&display=swap");
@import url("https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css");

* {
  box-sizing: border-box;
  color: black;
  font-family: "Be Vietnam Pro";
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menubar {
  display: flex;
}

.menubar a {
  margin: 0 1rem;
}

.menubar a:hover {
  color: rgb(242, 95, 58);
}

header {
  padding: 50px 15%;
}

.burguer {
  display: none;
  font-size: 1.5rem;
}

.boton {
  background-color: rgb(242, 95, 58);
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 700;
  max-width: 200px;
  padding: 15px 20px;
}

.boton__invertido {
  background-color: white;
  border-radius: 50px;
  border: none;
  color: rgb(242, 95, 58);
  font-weight: 500;
  max-width: 200px;
  padding: 15px 20px;
}

.efecto {
  box-shadow: 1px 3px 6px rgb(143, 148, 167);
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.efecto__invertido {
  box-shadow: 1px 3px 6px rgb(41, 45, 59);
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button.efecto:hover {
  box-shadow: 1px 3px 6px rgb(242, 95, 58);
  opacity: 0.9;
  transform: scale(1.1);
  transition: 0.3s;
}

button.efecto__invertido:hover {
  box-shadow: 1px 3px 6px rgb(242, 95, 58);
  opacity: 0.9;
  transform: scale(1.1);
  transition: 0.3s;
}

header img {
  height: 100%;
}

.presentacion {
  display: flex;
  justify-content: space-between;
}

.presentacion .grafico {
  max-width: 100%;
}

.titulo {
  color: rgb(35, 44, 81);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
}

.titulo h2 {
  color: #232c50;
  font-size: 3.5rem;
  font-weight: 700;
}

.titulo p {
  font-size: 1rem;
  font-weight: 500;
  max-width: 400px;
}

.presentacion .titulo h2::first-letter {
  text-transform: uppercase;
}

.presentacion .titulo p::first-letter {
  text-transform: uppercase;
}

section {
  padding: 50px 10%;
}

.informacion {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  margin: 0px 0px 100px 0px;
  text-align: center;
}

.descripcion__informacion {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 0px 100px 0px;
  max-width: 600px;
  text-align: left;
}

.descripcion__informacion h2 {
  color: #232851;
  font-size: 2.5rem;
  font-weight: 700;
}

.paso {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 0px 100px 0px;
  max-width: 600px;
  text-align: left;
}

.titulo__paso p {
  color: #323851;
  font-weight: 700;
  left: 35px;
  position: relative;
}

.titulo__paso span {
  margin-right: 2rem;
}

.descripcion__paso p {
  color: rgb(143, 148, 167);
  font-weight: 500;
  margin-left: 8.5rem;
}

.personas {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

#icon {
  color: rgb(242, 95, 58);
}

.titulo__personas {
  color: #242e53;
  font-size: 2.5rem;
  font-weight: 700;
}

.info__personas {
  display: flex;
}

.cv__personas {
  align-items: center;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 28%,
    rgb(240, 240, 240) 28%,
    rgb(240, 240, 240) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  text-align: center;
}

.cv__desc {
  color: #b9b9c1;
}

.nombre {
  color: #3f4868;
  font-weight: 700;
}

.cv__personas img {
  max-width: 70px;
}

.pre-footer {
  align-items: center;
  background-color: rgb(242, 95, 58);
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.pre-footer h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50%;
}

footer {
  align-items: center;
  background-color: rgb(29, 30, 37);
  display: flex;
  height: 160px;
  justify-content: space-around;
  padding-bottom: 110px;
  padding-top: 110px;
}

.social {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.social i {
  color: white;
  font-size: 1.25rem;
  margin: 5px;
}

.social i:hover {
  color: rgb(242, 95, 58);
}

.footer__menu {
  display: flex;
  gap: 100px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__nav a {
  color: white;
}

.footer__nav a:hover {
  color: rgb(242, 95, 58);
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.forms input {
  border-radius: 50px;
  border: none;
  margin: 0px 10px;
  padding: 15px;
}

.copy {
  color: #8c8c94;
  font-size: 0.8rem;
}

@media screen and (min-width: 551px) and (max-width: 1000px) {
  .media__hide {
    display: none;
  }
  .media__show {
    display: inline-block;
  }
  .informacion {
    flex-direction: column;
    gap: 50px;
  }

  .personas {
    gap: 50px;
  }

  .titulo__paso p {
    background-color: rgba(255, 51, 0, 0.14);
    border-radius: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .descripcion__paso p {
    margin-left: 0px;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 13px;
  }

  .media2__hide {
    display: none;
  }

  .media2__show {
    display: inline-block;
  }

  .titulo__paso p {
    background-color: rgba(255, 51, 0, 0.14);
    border-radius: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .descripcion__paso p {
    margin-left: 0px;
  }

  header {
    padding-bottom: 25px;
  }

  .presentacion,
  .informacion {
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .presentacion {
    padding-top: 0px;
  }

  .presentacion .titulo {
    align-items: center;
    margin: 40px 0px;
    order: 3;
    text-align: center;
  }

  .presentacion .titulo h2 {
    font-size: 2.5rem;
  }

  .informacion .descripcion__informacion {
    align-items: center;
    margin: 0px 0px 70px 0px;
    text-align: center;
  }

  .titulo__paso {
    left: -35px;
    position: relative;
  }

  .personas {
    align-items: center;
    gap: 20px;
    padding-top: 0px;
  }

  .pre-footer {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
  }

  .pre-footer h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 90%;
    text-align: center;
  }

  .pre-footer button {
    margin-bottom: 50px;
  }

  footer {
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding-bottom: 15px;
    padding-top: 50px;
  }

  .forms input {
    font-size: 0.8rem;
    padding-right: 5rem;
  }

  div.forms form button {
    font-size: 0.8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  footer .social {
    order: 3;
  }

  footer .social img {
    margin-bottom: 25px;
    order: 4;
  }

  footer .social i {
    font-size: 2.5rem;
    margin: 30px 15px 0px;
  }

  footer .forms {
    order: -1;
  }

  .lastcopy {
    justify-self: flex-end;
    order: 10;
  }
}
